{% extends 'bot/base.html' %}

{% block content %}
<div class="chat-view clearfix">
    <h3>Существующие чаты</h3>
    <div class="chat-list">
        {% for chat in objects_list %}
        <a href="/chat/{{chat.number}}/" class="chat-button"><div class="chat-entry {% if chat.number == selected %}highlight{%endif%}">
            <div class="chat-name">{{ chat.name }}</div>
            <div class="chat-last-message">{{ chat.chat_last_message }}</div>
            <div class="chat-time">{{ chat.time }}</div>
        </div></a>
        {% endfor %}
    </div>
    <div class="chat-content">
    </div>
</div>
{% endblock %}