{% extends 'bot/base.html' %}

{% block content %}
<h3>Существующие чаты</h3>
<div class="chat-view clearfix">
    <div class="chat-list">
        {% for chat in chat_list %}
        <a href="/chats/{{chat.number}}/" class="chat-button"><div class="chat-entry {% if chat.number == selected %}highlight{%endif%}">
            <div class="chat-name">{{ chat.name }}</div>
            <div class="chat-last-message">{{ chat.chat_last_message }}</div>
            <div class="chat-time">{{ chat.time|date:"d.m.Y" }}, {{ chat.time|time:"h:i" }}</div>
        </div></a>
        {% endfor %}
    </div>
    <div class="chat-content">
        {% for message in message_list %}
        <div class="chat-message {% if message.direction %} msg-in {% else %} msg-out {% endif %}">
            <div class="chat-message-content">{{message.content}}</div>
            <div class="chat-message-time">{{ message.time|date:"d.m.Y" }}, {{ message.time|time:"h:i" }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}